.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  #{&}-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.content-card {
  margin-top: 1em;
  display: flex;
  flex-grow: 1;
  max-width: 700px;
  min-width: 320px;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: dimgrey;
}

.transaction-btn {
  justify-content: center !important;
  margin-bottom: 1em;
}
