<app-navigation-bar></app-navigation-bar>
<h2>Transakcia</h2>
<div *ngIf="client" class="content-wrapper">

  <div class="content-wrapper-item">
    <app-profile-card class="content-card" [tiles]="gridTiles()" title="Konajuci klient"></app-profile-card>
  </div>

  <div class="content-wrapper-item">
    <app-transaction-setting-card [accounts]="client.accounts"
                                  (accountChange)="setAccount($event)"
                                  class="content-card">
    </app-transaction-setting-card>
  </div>

  <div *ngIf="selectedAccount" class="content-wrapper-item">
    <app-account-card [index]="0" [account]="selectedAccount" class="content-card"></app-account-card>
  </div>

  <div *ngIf="selectedAccount" class="content-wrapper-item">
    <app-transaction-details-card (changePick)="setTransactionDetails($event)"
                                  class="content-card"
                                  title="Detaily transakcie">
    </app-transaction-details-card>
  </div>

  <div class="content-wrapper-item">
    <button mat-raised-button color="primary"
            class="content-card transaction-btn"
            (click)="commitTransaction()">
      Vykonat transakciu
    </button>
  </div>
  <app-speed-dial-fab *ngIf="client" class="speed-dial-container"
                      [reverseColumnDirection]="true" matTooltip="klient menu">
  </app-speed-dial-fab>
</div>
