@import "src/mixins.scss";

.profile-items-wrapper {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  #{&}__products {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
  }

  #{&}__client {
    display: flex;
    justify-content: center;
  }

  #{&}__products-title {
    font-weight: 400;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: dimgrey;
  }
}

.profile-item {
  display: flex;
  flex-grow: 1;
  max-width: 700px;
  min-width: 320px;
}

.fab-add {
  position: fixed;
  color: #00bcd4;
  bottom: 15px;
  right: 15px;
}

.icon-add {
  color: white;
}
