<app-navigation-bar></app-navigation-bar>
<div class="profile-items-wrapper">

  <div class="profile-items-wrapper__client">
    <app-profile-card *ngIf="client" [title]="cardTitle" [tiles]="gridTiles()" class="profile-item"></app-profile-card>
  </div>

  <div class="profile-items-wrapper__client">
    <h3 class="profile-items-wrapper__products-title">Produkty</h3>
  </div>

  <div class="profile-items-wrapper__client">
    <mat-accordion class="profile-items-wrapper__products" *ngIf="client">
      <app-account-card class="product-account profile-item" *ngFor="let account of client.accounts; let i = index"
                        [account]="account" [index]="i">
      </app-account-card>
    </mat-accordion>
  </div>

</div>
<app-speed-dial-fab *ngIf="getClientContext()" class="speed-dial-container"
                    [reverseColumnDirection]="true" matTooltip="klient menu">
</app-speed-dial-fab>
<button *ngIf="!getClientContext()" (click)="selectClient(client)" class="fab-add" mat-fab
        matTooltip="pracovat s vybranym klientom">
  <mat-icon class="icon-add">add</mat-icon>
</button>
