<mat-expansion-panel class="expansion-panel" [expanded]="step === index" (opened)="setStep(index)" hideToggle>

  <mat-expansion-panel-header>
    <div class="header-content">
      <mat-panel-title style="width: 30%">
        {{ account.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ account.productDescription }}
        <mat-icon>
          expand_more
        </mat-icon>
      </mat-panel-description>
    </div>
  </mat-expansion-panel-header>

  <mat-card class="profile-card">
    <h3 class="profile-card__header">{{ account.iban }}</h3>
    <mat-divider class="profile-card__divider"></mat-divider>
    <mat-grid-list class="profile-card__grid" cols="3" rowHeight="50px">
      <mat-grid-tile
        *ngFor="let tile of gridTiles()"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
      >
        <div [className]="'profile-card__grid__data ' + (tile.isHeader ? 'grid-title' : 'grid-data')">
          {{tile.data}}
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

</mat-expansion-panel>
