@import "src/app/profile-card/profile-card.component.scss";

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-content {
  display: flex;
  align-items: center;
}

.expansion-panel {
  flex: 1;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
