<h1 mat-dialog-title>Vyber klienta</h1>
<div mat-dialog-content>
  <p>Bez vyberu prislusneho klienta nie je mozne vykonat transakciu</p>
</div>
<div mat-dialog-actions class="client-dialog-actions">
  <button mat-raised-button color="primary" (click)="onOkClick()">Ok</button>
</div>
