.client-dialog-actions {
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 400;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: dimgrey;
}

/*# sourceMappingURL=information-dialog.component.css.map */
