.nav-bar {
  display: flex;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);

  #{&}__content {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  #{&}__profile-icon-btn {
    display: flex;
    align-items: center;
  }
}

.mobile-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: height .25s ease-in-out, opacity .25ms ease-in-out;
  background-color: rgba(3, 169, 244, 0.78);

  #{&}__expand-btn {
    margin-right: .5em;
  }
}

.mobile-search-wrapper-expanded {
  height: 60px;
}

.mobile-search-wrapper-hidden {
  height: 0;
}

.search-bar-mobile {
  width: 80%;
  margin-right: .5em;
  margin-left: 1em;
}

.search-bar-hide-icon {
  color: white;
}

.client-btn {
  color: white;
  border-radius: 5em;
}

.client-btn-wrapper {
  display: flex;
  margin-right: 2em;
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-radius: 5em;
}
