<mat-toolbar color="primary" class="nav-bar">
  <span>Finance Portal</span>
  <div class="nav-bar__content">

    <div *ngIf="!breakpointReached" class="client-btn-wrapper">
      <button (click)="clientChipHandler()" class="client-btn" mat-button matTooltip="prejst na profil klienta">
        {{ client
        ? 'Pracujete s: ' + client.forename + ' ' + client.surname
        : 'Vyberte klienta'
        }}
      </button>
      <button *ngIf="client" (click)="deselectClient()" mat-icon-button matTooltip="prestat pracovat s klientom">
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>

    <app-search-bar #searchBar *ngIf="!breakpointReached"></app-search-bar>

    <button *ngIf="breakpointReached && !expandMobileSearch" (click)="toggleSearchBarExpansion()" mat-icon-button >
      <mat-icon>search</mat-icon>
    </button>

    <div class="nav-bar__profile-icon-btn">
      <button mat-icon-button matTooltip="profil pracovnika" (click)="redirect('banker-profile', null)">
        <mat-icon>supervisor_account</mat-icon>
      </button>
    </div>

    <button *ngIf="isUserLoggedIn" matTooltip="odhlasit" mat-icon-button (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div *ngIf="breakpointReached" [ngClass]="'mobile-search-wrapper mobile-search-wrapper' + (expandMobileSearch ? '-expanded' : '-hidden')">
  <app-search-bar *ngIf="expandMobileSearch" class="search-bar-mobile"></app-search-bar>
  <button class="mobile-search-wrapper__expand-btn" mat-icon-button *ngIf="expandMobileSearch" (click)="toggleSearchBarExpansion()">
    <mat-icon *ngIf="expandMobileSearch" class="search-bar-hide-icon">expand_less</mat-icon>
  </button>
</div>
