@import "src/mixins.scss";

.menu-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@include for-tablet-portrait-up {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    margin: 1em;

    #{&}-item {
      width: 50%;
      height: 100%;
      margin: 1px;
      border: black solid 1px;
    }
  }

  .menu-items-wrapper {
    display: flex;
    flex-grow: 1;
    height: 30%;
    width: 100%;
  }
}
