<div class="menu-main-wrapper">
  <div class="menu">

    <div class="menu-items-wrapper">
      <div class="menu-item">Login</div>
      <div class="menu-item">Profil Klienta</div>
    </div>

    <div class="menu-items-wrapper">
      <div class="menu-item">Transakcie</div>
      <div class="menu-item">Profil Pracovnika</div>
    </div>

  </div>
</div>
