.fab-container {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  bottom: 15px;
  right: 15px;

  > div.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

    button {
      margin-top: 17px;
    }
  }

  > div.column-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;

  #{&}__icon {
    color: white;
  }
}

#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.material-icons {
  color: #00bcd4;
}
