<h2 mat-dialog-title>Vyber bankoviek</h2>

<div mat-dialog-content class="dialog-body">
  <table mat-table [dataSource]="vaultSupplies" class="mat-elevation-z8">

    <ng-container matColumnDef="nominalValue">
      <th mat-header-cell *matHeaderCellDef> Nominalna Hodnota</th>
      <td mat-cell *matCellDef="let element">
        <span><mat-icon class="euro-icon">euro_symbol</mat-icon>
          {{ element.nominalValue }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="selectedNumber">
      <th mat-header-cell *matHeaderCellDef> Vybrany pocet</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="counter">
          <input matInput type="number" placeholder="Pocet" step="1" min="0" [max]="element.number"
                 [formControl]="getFormControl(element.nominalValue)"
                 (keyup)="recalculateSum()">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Maximalny pocet</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.number }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<div class="dialog-footer">
  <div class="sum-wrapper">
    Suma:
    <span class="sum">{{ sum.toFixed(2) }}</span>
  </div>
  <div mat-dialog-actions class="actions-wrapper">
    <button mat-raised-button color="warn" (click)="cancel()">
      Zavriet
    </button>
    <button mat-raised-button color="primary" (click)="approve()">
      Vybrat
    </button>
  </div>
</div>
