.mat-column-selectedNumber {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.dialog-body {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h2 {
  text-align: center;
  font-weight: 500;
  color: dimgrey;
  padding-left: 0.5em;
}

.actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.euro-icon {
  color: #03a9f4;
}

.sum {
  margin-left: 0.2em;
  color: #03a9f4;
}

.counter {
  width: 50px;
}

.dialog-footer {
  display: flex;
  flex-direction: column;
}

.sum-wrapper {
  margin-top: 0.2em;
  display: flex;
}

/*# sourceMappingURL=money-picker-dialog.component.css.map */
