@import "src/_mixins.scss";

.profile-grid-wrapper {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-grid {
  display: flex;
  flex-grow: 1;
  max-width: 700px;
  min-width: 320px;
}
