<app-navigation-bar></app-navigation-bar>
<div class="profile-grid-wrapper">
  <app-profile-card *ngIf="profile" [title]="cardTitle" [tiles]="gridTiles()" class="profile-grid"></app-profile-card>
</div>
<app-speed-dial-fab *ngIf="getClientContext()"
                    class="speed-dial-container"
                    [reverseColumnDirection]="true">
</app-speed-dial-fab>
