@import "src/_mixins.scss";

.profile-card {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;

  #{&}__header {
    font-weight: 400;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: dimgrey;
  }

  #{&}__divider {
    position: relative;
    margin: auto;
  }

  #{&}__grid {
    display: flex;
    flex-grow: 1;
  }

  #{&}__grid__data {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    max-width: 100px;
  }
}

.grid-title {
  font-weight: 500;
  color: dimgrey;
  padding-left: .5em;
}

@include for-phone-only {
  .grid-data {
    width: 100% !important;
    max-width: 90% !important;
    padding-left: 1.5em !important;
  }
}
