<mat-card class="profile-card">
  <h3 class="profile-card__header">{{ title }}</h3>
  <mat-divider class="profile-card__divider"></mat-divider>
  <mat-grid-list class="profile-card__grid" cols="3" rowHeight="50px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
    >
      <div [className]="'profile-card__grid__data ' + (tile.isHeader ? 'grid-title' : 'grid-data')">
        {{tile.data}}
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
