@import "src/app/profile-card/profile-card.component.scss";
@import "src/mixins.scss";

.list-item-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 48px;
  align-items: center;
}

.mat-form-field {
  max-width: 205px !important;
  min-width: 150px !important;
  flex-grow: 1 !important;

  @include for-phone-only {
    max-width: 170px !important;
  }
}

.mat-form-field-wrapper {
  width: 100% !important;
}

.card-data-title {
  font-weight: 500;
  color: dimgrey;
}
