<mat-card class="profile-card">
  <h3 class="profile-card__header">{{ title }}</h3>
  <mat-divider class="profile-card__divider"></mat-divider>
  <form [formGroup]="detailsFormGroup">
    <mat-list>

      <mat-list-item>
        <div class="list-item-content">
        <label class="card-data-title">Suma</label>

        <mat-form-field disabled="true">
          <label>
            <input matInput formControlName="amount" [value]="amount.toFixed(2)">
          </label>
          <button mat-icon-button matSuffix (click)="openDialog()" matTooltip="vyber bankoviek">
            <mat-icon>money</mat-icon>
          </button>
        </mat-form-field>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="list-item-content">
        <label class="card-data-title">Datum</label>
        <mat-form-field color="primary">

          <label>
            <input matInput [matDatepickerFilter]="dateFilter"
                   [min]="minimumDate()"
                   [matDatepicker]="picker"
                   formControlName="transactionDate">
          </label>

          <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="datum vykonania transakcie">
          </mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>
        </mat-form-field>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="list-item-content">
        <span class="card-data-title">Poznamka</span>
        <mat-form-field>
          <label>
            <input #note matInput type="text" formControlName="note">
          </label>
          <mat-hint align="end">{{ note.value.length }} / 500</mat-hint>
        </mat-form-field>
        </div>
      </mat-list-item>

    </mat-list>
  </form>
</mat-card>
