<mat-card class="profile-card">
  <h3 class="profile-card__header">Nastavenie</h3>
  <mat-divider class="profile-card__divider"></mat-divider>
  <div class="options-wrapper">

    <div class="options-wrapper-row">

      <div class="options-wrapper-title">
        Typ transakcie
      </div>

      <div class="options-wrapper-data">
        <mat-button-toggle-group class="toggle-group">
          <mat-button-toggle checked="true" class="toggle-group-btn">Hotovostny vyber</mat-button-toggle>
          <mat-button-toggle class="toggle-group-btn">Predaj vault</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>

    <div class="options-wrapper-row">
      <div class="options-wrapper-title">
        Cislo uctu
      </div>

      <div class="options-wrapper-data">
        <mat-form-field class="option-select">
          <mat-select [formControl]="ibanFormControl">
            <mat-option *ngFor="let account of accounts" [value]="account">
              {{ account.iban }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
</mat-card>
