@import "src/app/profile-card/profile-card.component.scss";
@import "src/mixins.scss";
@import "src/custom-theme.scss";

.options-wrapper {
  display: flex;
  flex-direction: column;

  #{&}-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 150px;
    font-weight: 500;
    color: dimgrey;

    @include for-phone-only {
      width: 100% !important;
      justify-content: center !important;
    }
  }

  #{&}-data {
    min-width: 250px;
    max-width: 350px;
    flex-grow: 1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #{&}-row {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.option-select {
  margin-top: 1em;
  width: 100%;
}

.toggle-group {
  margin-top: .2em;
  width: 100%;

  #{&}-btn {
    width: 50%;
  }
}
