
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bp-fe-primary: mat-palette($mat-light-blue);
$bp-fe-accent: mat-palette($mat-cyan, 500, 400, 700);

// The warn palette is optional (defaults to red).
$bp-fe-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bp-fe-theme: mat-light-theme($bp-fe-primary, $bp-fe-accent, $bp-fe-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bp-fe-theme);

.blue-snackbar {
  width: 250px;
  font-weight: 500;
  font-size: 15px;
  background-color: mat-color($mat-cyan, 600);
}

.red-snackbar {
  font-weight: 500;
  font-size: 15px;
  background-color: mat-color($mat-red, 600);
}

.mat-snack-bar-container {
  width: 200px !important;
}

.speed-dial-container {
  position: absolute;
  right: 15px;
  bottom: 15px
}

.mat-button-toggle {
  transition: background-color 300ms;
  background-color: white !important;
  color: #03a9f4 !important;
  border: solid 1px #03a9f4 !important;
  border-radius: 2px !important;
}

.mat-button-toggle-checked {
  background-color: #03a9f4 !important;
  color: white !important;
}
