@import "src/_mixins.scss";

@keyframes enlarge {
  from { width: 100%; }
  to { width: 150%; }
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px rgba(255, 255, 255, 0.15) solid;
  margin-right: 1em;
  border-radius: 10em;
  background-color: rgba(255, 255, 255, 0.16);
  transition: background-color .25s ease-in-out, width .2s linear;

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  #{&}__form {
    display: flex;
    flex-grow: 1;
  }

  #{&}__icon-search {
    color: rgba(255, 255, 255, 0.55);
    margin-top: .2em;
    margin-left: .2em;
  }

  #{&}__icon-clear {
    color: rgba(255, 255, 255, 0.55);

    &:hover {
      cursor: pointer;
    }
  }

  #{&}__icon-clear-wrapper {
    width: 24px;
    height: 24px;
    margin-right: .5em;
  }

  #{&}__input {
    height: 35px;
    width: 115px;
    border-radius: 10em;
    transition: width .2s linear;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: .8em;
    color: white;
    display: flex;
    flex-grow: 1;

    @include for-tablet-portrait-up {
      &:focus {
        outline: none;
        width: 200px;
        float: right;
      }
    }

    @include for-phone-only {
      &:focus {
        outline: none;
      }
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.51);
    }
  }
}

.autocomplete-option {
  line-height: unset;

  #{&}__iban {
    font-size: 12px;
    color: dimgrey;
  }
}
