<div class="search-bar">

  <mat-icon (click)="editSearchText()" class="search-bar__icon-search">search</mat-icon>

  <form class="search-bar__form" [formGroup]="clientForm">

    <input #searchInput
           type="text"
           class="search-bar__input"
           placeholder="Search by ID"
           [matAutocomplete]="auto"
           (keyup.enter)="selectClient()"
           formControlName="searchTerm">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayIdentificationId">

      <mat-option *ngIf="isLoading && getSearchTerm() !== ''" class="is-loading">
        <mat-spinner diameter="50"></mat-spinner>
      </mat-option>

      <ng-container *ngIf="!isLoading">
        <mat-option class="autocomplete-option"
                    *ngFor="let client of clients"
                    [value]="client.identificationId"
                    (click)="redirect('/client-profile', client.identificationId)">
            <span>{{ client.forename + ' ' + client.surname }}</span>
            <br/>
            <small class="autocomplete-option__iban">{{ client.identificationId }}</small>
        </mat-option>
      </ng-container>

    </mat-autocomplete>

  </form>

  <div class="search-bar__icon-clear-wrapper" (click)="editSearchTextOnClick()">
    <mat-icon *ngIf="getSearchTerm() !== ''" (click)="clear()" class="search-bar__icon-clear">clear</mat-icon>
  </div>

</div>

